<div class="bg-slate-950 h-screen">
    <div class="bg-slate-800 max-w-md mx-auto rounded-lg text-white p-15">
        <form action="">
            <div class="flex flex-col">
                <label for="nome">Nome</label>
                <input type="text" class="border border-neutral-600 rounded-lg p-2">
            </div>

            <div class="flex flex-col">
                <label for="username">Username</label>
                <input type="text" class="border border-neutral-600 rounded-lg p-2">
            </div>

            <div class="flex flex-col">
                <label for="senha">Senha</label>
                <input type="password" class="border border-neutral-600 rounded-lg p-2"> 
            </div>

            <div class="flex flex-col">
                <label for="confirmar-senha">Confirmar Senha</label>
                <input type="password" class="border border-neutral-600 rounded-lg p-2"> 
            </div>

            <div class="flex flex-col">
                <label for=""></label>
            </div>


        </form>
    </div>
</div>