
<div class="bg-cyan-950/90 p-15 rounded-lg text-white grid grid-cols-1 place-items-center gap-4">
    <div class="md:justify-self-start mb-3">
        <h1 class="text-xl font-bold justify-start">Profile</h1>
    </div>
    <div class="flex w-full max-w-[30vw] flex-col items-center justify-center gap-2">
        <div class="flex items-center justify-center">
            <img
                src="assets/images/avatar.png"
                class="h-20 w-20 rounded-full border p-1 shadow-2xl object-cover"
                alt=""
            >
        </div>

        @if (profile(); as p ) {
            <div class="flex justify-center">
                @if (role() === 'ROLE_ADMIN') {
                    <p class="bg-red-600 font-medium text-[12px] w-auto text-black/80 rounded-full px-3 py-1 whitespace-nowrap">Admin</p>
                } @else {
                    <p class="bg-green-600 font-medium text-[12px] text-black/80 rounded-full px-3 py-1 whitespace-nowrap">Jogador</p>
                }
            </div>
        }
    </div>

    @if (profile(); as p ) {
        <div class="text-center flex flex-col justify-center items-center w-full max-w-[30vw]">
            <p class="font-medium">{{ nome() }}</p>

            <app-game-profile-level [nivel]="tituloLevelGameProfile()" class="w-[90%]" [barra]="barraProgresso()"></app-game-profile-level>

            <div class="grid grid-cols-1">
                <p>
                    XP: {{ xpObtido() }} / {{ xpNecessario() }}
                </p>
            </div>
        </div>
    }
</div>
